.w100{width: 100%;}
.bgr{background-color: red}
.bgb{background-color: blue}
.bgw{background-color: white}
.bgdb{background-color: dodgerblue;}
.hi{height: inherit;}
.p{position: relative;}
.l{float: left;}
.dg{display: grid}
.jcc{justify-items: center}

.root{

}

.b1{
	height: 5px;
}

.b1_001{
	width: 400px;
}

.b2{
	height: 135px;
}

.b3{
	height: 280px;
}

.b4{
	height: 985px;
}

.b5{
	height: 140px;
}